HAMILTONIAN
FIXEDNODE-HAMILTONIAN
abinitio/polyacenes/*/dump/HAMILTONIAN
abinitio/polyacenes/*/dump/FIXEDNODE-HAMILTONIAN
abinitio/polyacenes/03-anthracene/fci-core/*
abinitio/polyacenes/03-anthracene/trialspace.dat
abinitio/polyacenes/03-anthracene/00-sHF/TRIALSPACE*
abinitio/polyacenes/03-anthracene/*/trialspace.dat
abinitio/polyacenes/03-anthracene/*/NECI.out
abinitio/polyacenes/03-anthracene/*/*/NECI.out
abinitio/polyacenes/03-anthracene/*/*/*/NECI.out
abinitio/polyacenes/03-anthracene/*/core-twfn/trial-core.dat
abinitio/polyacenes/03-anthracene/*/sgnstr/fci-wfn.dat
abinitio/polyacenes/03-anthracene/*/sgnstr/trial-wfn.dat
